
<div class="profile">

  <div class="colored-block">
  </div>
  
  <div class="prof-name-handle-block">
    <div class="prof-pic">
      <%= image_tag("http://i.imgur.com/gFMomQx.jpg") %>
    </div>

    <div class="prof-name-block">
      <%= link_to "Matt", "users/1", class: "prof-name-name"%>
      <%= link_to "@Matt", "users/1", class: "prof-name-handle"%>
    </div>
  </div>

  <div class="prof-info-block">

    <div class="prof-tweets-block">
      <span class="prof-tweets-link">
        <%= link_to("TWEETS", users_path, class: "prof-user-tweets") %>
        <%= link_to(Tweet.all.count, users_path, class: "prof-tweets-num") %>
      </span>
    </div>

    <div class="prof-following-block">
      <span class="prof-following-link">
        <%= link_to("FOLLOWING", users_path, class: "prof-user-following") %>
        <%= link_to(User.all.count, users_path, class: "prof-following-num") %>
      </span>
    </div>

    <div class="prof-followers-block">
      <span class="prof-followers-link">
        <%= link_to("FOLLOWERS", users_path, class: "prof-user-followers") %>
        <%= link_to(User.all.count, users_path, class: "prof-followers-num") %>
      </span>
    </div>
  </div>


</div>

<div class="main-tweet-block">

  <h3><%= "Tweets" %></h3>

  <% tweets.shuffle.each do |tweet| ###REMOVE SHUFFLE LATER!!!%>
    <% users.each do |user| %>
      <% if user.id == tweet.user_id %>

        <div class="tweet-name-body-block">

          <div class="individual-tweet-block">
              <span class="name-handle">
                <%= link_to "users/#{tweet.user_id}", class: "name-link" do %>

                  <span class="tweets-name"><%= user.name %></span>

                  <span class="tweets-handle"><%= "@#{user.name}" %></span>

                  <span class="tweets-time"> <%= "#{distance_of_time_in_words(Time.now, tweet.created_at)}" %></span>

                <% end %>
              </span>
          </div>

          <div class="individual-tweet-block">
              <%= link_to "tweets/#{tweet.id}", class: 'tweet-link' do %>
                <h5 class="tweets-body"><%= tweet.body %></h5>
              <% end %>
          </div>

        </div>

      <% end %>
    <% end %>
  <% end %>
</div>

<div class="other-users">
  <h3><%= "This area displays other users" %></h3>
</div>
