
<div class="profile">
  <h3><%= "This is the profile area" %></h3>

</div>

<div class="main-tweet-block">

    <h3><%= "Tweets" %></h3>

    <% tweets.shuffle.each do |tweet| ###REMOVE SHUFFLE LATER!!!%>
      <% User.all.each do |user| %>
        <% if user.id == tweet.user_id %>

          <div class="tweet-name-body-block">
            <div class="individual-tweet-block">
                <span class="name-handle">


                  <span>
                    <%= link_to "users/#{tweet.user_id}", class: "name-link" do %>

                    <span class="tweets-name">
                      <%= user.name %>
                    </span>

                  </span>

                  <span class="tweets-handle"><%= "@#{user.name}" %></span>

                  <span class="tweets-time"> <%= "#{distance_of_time_in_words(Time.now, tweet.created_at)}" %></span>

                </span>


            </div>

            <div class="individual-tweet-block">

                <%= link_to "tweets/#{tweet.id}", class: 'tweet-link' do %>


                <h5 class="tweets-body"><%= tweet.body %></h5>
            </div>

          </div>
        <% end %>

        <% end %>

        <% end %>
      <% end %>
    <% end %>
</div>

<div class="other-users">
  <h3><%= "This area displays other users" %></h3>
</div>
