
<div class="profile">

  <div class="colored-block"></div>

  <div class="prof-name-handle-block">
    <div class="prof-pic">
      <%= image_tag("http://i.imgur.com/gFMomQx.jpg") %>
    </div>

    <div class="prof-name-block">
      <%= link_to "Matt", "users/1", class: "prof-name-name"%>
      <%= link_to "@Matt", "users/1", class: "prof-name-handle"%>
    </div>
  </div>

  <div class="prof-info-block">
    <div class="prof-tweets-block">
      <span class="prof-tweets-link">
        <%= link_to("TWEETS", users_path, class: "prof-user-tweets") %>
        <%= link_to(tweets.count, users_path, class: "prof-tweets-num") %>
      </span>
    </div>

    <div class="prof-following-block">
      <span class="prof-following-link">
        <%= link_to("FOLLOWING", users_path, class: "prof-user-following") %>
        <%= link_to(users.count, users_path, class: "prof-following-num") %>
      </span>
    </div>

    <div class="prof-followers-block">
      <span class="prof-followers-link">
        <%= link_to("FOLLOWERS", users_path, class: "prof-user-followers") %>
        <%= link_to(users.count, users_path, class: "prof-followers-num") %>
      </span>
    </div>
  </div>


</div>

<div class="main-tweet-block">

  <div><%= form_for(tweet) do |f| %>
    <div class="container">
        <div class="row">
          <div class="col-md-5">
            <div class="input-group">
              <div><label for="body">Tweeter: </label></div>
              <div><%= f.select :user_id, options_from_collection_for_select(User.all, :id, :handle) %></div>
            </div>
          </div>
          <div class="col-md-5 col-md-offset-2">
            <div class="input-group">
              <div><label for="body">Body: </label></div>
              <div><%= f.text_area :body, placeholder: "What's on your mind?"%></div>
            </div>
          </div>
          <div class="col-md-12 submit">
            <div class="actions">
              <%= f.submit %>
            </div>
          </div>
        </div>
      </div>
    <% end %>
    </div>


  <% tweets.each do |tweet| %>

  <div class="tweet-name-body-block">
    <div class="individual-tweet-block">
      <span class="name-handle">
        <%= link_to "users/#{tweet.user_id}", class: "name-link" do %>
          <span class="tweets-name"><%= tweet.user.name %></span>
          <span class="tweets-handle"><%= "@#{tweet.user.name}" %></span>
          <span class="tweets-time"> <%= "#{distance_of_time_in_words(Time.now, tweet.created_at)}" %></span>
        <% end %>
      </span>
    </div>
    <div class="individual-tweet-block">
      <div>
        <row>
          <div class="tweets-body">
            <%= link_to "tweets/#{tweet.id}", class: 'tweet-link' do %>
            <%= tweet.body %>
            <% end %>
          </div>
        </row>
        <row>
          <div class="edit-delete-block">
            <button type="submit" class="tweet-edit-button"><%= link_to "Edit", edit_tweet_path(tweet) %></button>
            <button type="delete" class="tweet-delete-button"><%= link_to "Delete", tweet_path(tweet), method: :delete, data: {confirm: "Are you sure?"} %>        </button>
          </div>
        </row>
      </div>
    </div>


  </div>
  <% end %>
</div>



<div class="other-users">
  <% User.all.each do |user| %>
    <div class="row">
      <h5 class="user-handle"><%= link_to user.handle, "/users/#{user.id}" %></h5>
      <div class"col-md-6">
        <h6 class="user-edit-button"><%= link_to "Edit", edit_user_path(user) %></h6>
      </div>
    </div>
  <% end %>
</div>
