
<div class="profile">
  <h3><%= "This is the profile area" %></h3>

  <%= link_to("followers", users_path, class: "followers") %>
  <%= link_to(User.all.count, users_path, class: "num") %>

</div>

<div class="main-tweet-block">

  <h6><%="TWEETS"%></h6>
  <h4><%=user.tweets.count%></h4>

  <% user.tweets.each do |tweet| %>

  <div class="tweet-name-body-block">
    <div class="individual-tweet-block">
        <span class="name-handle">

          <%= link_to "users/#{tweet.user_id}", class: "name-link" do %>

          <span class="tweets-name"><%= user.name %></span>

          <span class="tweets-handle"><%= "@#{user.name}" %></span>

          <span class="tweets-time"> <%= "#{distance_of_time_in_words(Time.now, tweet.created_at)}" %></span>

          <% end %>

        </span>


    </div>

    <div class="individual-tweet-block">

        <%= link_to "tweets/#{tweet.id}", class: 'tweet-link' do %>


        <h5 class="tweets-body"><%= tweet.body %></h5>

        <% end %>

    </div>


  </div>

  <% end %>

</div>

<div class="other-users">
  <h3><%= "This area displays other users" %></h3>
</div>
