<div>
  <h6>
    <span><%= link_to("twitter", root_path, class: "title") %></span>
    <span><%= link_to("Tweet", new_tweet_path, class: "new-tweet") %></span>
    <span><%= link_to(root_path, class: "home") do %></span>
      <%= image_tag("https://cdn4.iconfinder.com/data/icons/roundies-2/32/birdhouse-512.png") %>
      <%= "Home" %>
    <% end %>

  </h6>

</div>


<!-- http://www.bestpeer.com/img/home.png -->
<!-- https://lh4.googleusercontent.com/-Xa3l7VsfilI/VDz0yiG5SdI/AAAAAAAABQY/RITzfsvFqYQ/w800-h800/add-list-256.png -->
