<!DOCTYPE html>
<html>
  <head>
    <title><%= local_assigns[:title] || "Twitter" %></title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="twitter-head">
      <div class="container-fluid">
        <div class="row">
          <div clas="col-md-5".col-md-offset-3>
            <%= render "shared/nav" unless @disable_nav %>
          </div>
        </div>
      </div>
    </header>
    <section class='content'>
      <div class="container-fluid">
        <%= yield %>
      </div>
    </section>
    <footer>
      <small>(c) Matt Rice 2016</small>
    </footer>
  </body>
</html>
